@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  font-family: Montserrat !important;
  color: #6a5d5d;
}

body {
  background-color: #f5f6fa;
}

.app__dropdown {
  background-color: white;
}

.app {
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  height: auto;
  max-width: 1280px;
}

.app__left {
  width: 60%;
  padding-right: 24px;
}

.app__right {
  width: 40%;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__title {
  font-size: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.app__stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .app__left {
    width: 100%;
    padding-right: 0px;
  }

  .app__right {
    margin-top: 16px;
    width: 100%;
  }
}
