.infoBox {
  flex: 1;
  padding: 0 12px;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox__title {
  font-weight: bold;
}

.infoBox__label {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.infoBox__span {
  color: #cc1034;
}
