.infoBox {
  flex: 1;
  padding: 0 12px;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox--active {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.33) !important;
}

.infoBox__title {
  font-weight: bold;
}

.infoBox__label {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.infoBox__span {
  font-weight: bold;
}

.infoBox--isRed {
  color: #cc1034;
}
