.container {
  overflow: scroll;
  height: 400px;
}

.table {
  overflow: scroll;
  height: 400px;
  width: 100%;
  color: #6a5d5d;
  text-align: left;
}

#title-row {
  background-color: white;
}

.title {
  margin-block-start: 0;
  padding-bottom: 10px;
}

.table tr {
  display: flex;
  justify-content: space-between;
  padding: 3px 15px;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
